<!DOCTYPE html>{% load static from staticfiles %}{% load gravatar_url from core_tags %}
<html lang="en" ng-app="sinapi">
<head>
  {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock meta %}

  <title>{% block title %}Bem vindo{% endblock title %}</title>

  {% block bower_css %}
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static 'vendor/angular-toastr/dist/angular-toastr.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/angular-busy/dist/angular-busy.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/Ionicons/css/ionicons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/angular-ui-grid/ui-grid.css' %}" />
    <!-- endbower -->
  {% endblock bower_css %}

  {% block inject_css %}
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/skin-black.min.css' %}">
    <!-- endinject -->
  {% endblock inject_css %}

  {% block bower_js %}
    <!-- bower:js -->
    <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.js' %}"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'vendor/angular-toastr/dist/angular-toastr.tpls.js' %}"></script>
    <script src="{% static 'vendor/angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'vendor/angular-busy/dist/angular-busy.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-grid/ui-grid.js' %}"></script>
    <script src="{% static 'vendor/lodash/lodash.js' %}"></script>
    <script src="{% static 'vendor/br-validations/releases/br-validations.js' %}"></script>
    <script src="{% static 'vendor/string-mask/src/string-mask.js' %}"></script>
    <script src="{% static 'vendor/angular-input-masks/angular-input-masks-standalone.min.js' %}"></script>
    <script src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
    <script src="{% static 'vendor/angular-locale-pt-br/angular-locale_pt-br.js' %}"></script>
    <!-- endbower -->
  {% endblock bower_js %}
  
  {% block inject_js %}
    <!-- inject:js -->
    <script src="{% static 'app/app.module.js' %}"></script>
    <script src="{% static 'app/admin.lite.min.js' %}"></script>
    <script src="{% static 'app/app.config.js' %}"></script>
    <script src="{% static 'app/app.routes.js' %}"></script>
    <script src="{% static 'app/mainCtrl.js' %}"></script>
    <script src="{% static 'app/core/confirmModalService.js' %}"></script>
    <script src="{% static 'app/core/submit.directive.js' %}"></script>
    <script src="{% static 'app/records/RecordResource.js' %}"></script>
    <script src="{% static 'app/records/compositionCtrl.js' %}"></script>
    <script src="{% static 'app/records/insumCtrl.js' %}"></script>
    <!-- endinject -->
  {% endblock inject_js %}
  
  <script>
    {% block script %}
      var app = angular.module('sinapi');
      app.constant('cgBusyDefaults', {
        templateUrl: '{% static "templates/angular-busy.html" %}',
        message: 'Aguarde...'
      });
      <!-- urls -->
      app.constant('loginURL', '{% url "account_login" %}');
      app.constant('logoutURL', '{% url "account_logout" %}');
      app.constant('recordAPIURL', '{% url "v1:record-list" %}');

      <!-- templates -->
      app.constant('confirmModalTemplate', '{% static "app/core/confirm-modal.html" %}');
      app.constant('insumSearchURL', '{% url "records:insum_search" %}');
      app.constant('compositionSearchURL', '{% url "records:composition_search" %}');
    {% endblock script %}
  </script>
</head>
<body ng-controller="mainCtrl as main" class="{% block body_class %}hold-transition skin-black sidebar-mini{% endblock body_class %}">
  {% block body %}
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a ui-sref="index" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>API</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>SIN</b>API</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{% gravatar_url user.email %}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ user.username.capitalize }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{% gravatar_url user.email %}" class="img-circle" alt="User Image">
                    <p>
                      {{ user.get_full_name.title }}
                      <small>Desde {{ user.created }}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a ng-click="main.logout()" class="btn btn-default btn-flat">Logout</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% gravatar_url user.email %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ user.get_full_name.title }}</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Relatórios por mês e ano.</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview" ng-class="{active: $state.includes('record')}">
              <a href=""><i class="fa fa-link"></i> <span>Outubro de 2015</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li ui-sref-active="active"><a ui-sref="record.insum">Insumos</a></li>
                <li ui-sref-active="active"><a ui-sref="record.composition">Composições</a></li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          <div ui-view=""></div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Tabelas SINAPI
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      
    </div><!-- ./wrapper -->
  {% endblock body %}
</body>
</html>