{% extends 'base.html' %}{% load render_field from widget_tweaks %}
{% block title %}Login{% endblock %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    {% if form.non_field_errors %}
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ form.non_field_errors.0 }}
      </div>
    {% endif %}

    <div class="panel panel-info">
      <div class="panel-heading">
        Você precisa fazer login para acessar nossa aplicação
      </div>

      <div class="panel-body">
        <form action="{% url 'account_login' %}" method="post">{% csrf_token %}
          <div class="form-group has-feedback {% if form.login.errors %}has-error{% endif %}">
            {% render_field form.login class="form-control" placeholder="Usuário ou email" autofocus="autofocus" %}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            {% if form.login.errors %}
              <span class="text-danger">{{ form.login.errors.0 }}</span>
            {% endif %}
          </div>

          <div class="form-group has-feedback {% if form.password.errors %}has-error{% endif %}">
            {% render_field form.password class="form-control" placeholder="Senha" %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% if form.password.errors %}
              <span class="text-danger">{{ form.password.errors.0 }}</span>
            {% endif %}
          </div>

          <input type="hidden" name="next" value="{{ next }}"/>

          <div class="checkbox clearfix">
            <label class="pull-right">
              {{ form.remember }} Lembrar
            </label>
          </div>
          <hr/>

          <button submit type="submit" class="btn btn-primary btn-flat pull-right" id="id_login_button">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </button>
        </form>

        <a href="{% url 'account_reset_password' %}" id="id_password_reset_link">Esqueci minha senha</a><br>
        <a href="{% url 'account_signup' %}" class="text-center" id="id_register_link">Registrar</a>
    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
{% endblock %}