{% extends 'base.html' %}

{% block title %}Resetar senha{% endblock %}
{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    <div class="panel panel-success">
      <div class="panel-heading">
        Reset de Senha Finalizado com Sucesso
      </div>
      <div class="panel-body">
        <p>Sua senha foi resetada com sucesso.</p>
        <hr/>
        <a href="{% url 'account_login' %}">Login</a>
      </div>
    </div>
  </div>
{% endblock body %}
