{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}
{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    <div class="panel panel-info">
      <div class="panel-heading">
        Resetar Senha
      </div>
      <div class="panel-body">
        <p>Um email foi enviado contendo informações para completar o processo de <i>reset</i> de sua senha.</p>
        <hr/>
        <a href="{% url 'account_login' %}">Login</a>
      </div>
    </div>
  </div>
{% endblock body %}
