{% extends 'base.html' %}{% load render_field from widget_tweaks %}

{% block title %}Resetar Senha{% endblock %}
{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    <div class="panel {% if token_fail %}panel-danger{% else %}panel-info{% endif %}">
      <div class="panel-heading">
        {% if token_fail %}Token inválido{% else %}Entre com sua nova senha nos campos a seguir.{% endif %}
      </div>
      <div class="panel-body">
        {% if token_fail %}
            Infelizmente não foi possível resetar sua senha. Talvez ela já tenha sido resetada, ou o link utilizado esteja inválido. 
            Se preferir, solicite outro reset de senha clicando <a href="{% url 'account_reset_password' %}">aqui</a>. 
        {% else %}
          <form action="" method="post">{% csrf_token %}
            <div class="form-group has-feedback {% if form.password1.errors %}has-error{% endif %}">
              {% render_field form.password1 class="form-control" placeholder="Nova Senha" autofocus="autofocus" %}
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              {% if form.password1.errors %}
                <span class="text-danger">{{ form.password1.errors.0 }}</span>
              {% endif %}
            </div>
            <div class="form-group has-feedback {% if form.password2.errors %}has-error{% endif %}">
              {% render_field form.password2 class="form-control" placeholder="Confimar Nova Senha" %}
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              {% if form.password2.errors %}
                <span class="text-danger">{{ form.password2.errors.0 }}</span>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-flat pull-right" id="id_reset_password_button">
              <i class="fa fa-fw fa-repeat"></i> Resetar Senha
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}