<div class="modal-header">
  <h4>[[ vm.title ]]</h4>
</div>

<div class="modal-body">
  [[ vm.message ]]
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="vm.ok()">
    <i class="fa fa-check fa-fw"></i> [[ vm.okLabel ]]
  </button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">
    <i class="fa fa-remove fa-fw"></i> [[ vm.cancelLabel ]]
  </button>
</div>
